---
Language: Cpp
BasedOnStyle: LLVM

# Indentation / structure
IndentWidth: 4
AccessModifierOffset: -4
IndentCaseLabels: true
IndentRequiresClause: false
NamespaceIndentation: Inner

# Wrapping / packing policy
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false

# Braces / line breaks
BreakBeforeBraces: Allman
BreakBeforeBinaryOperators: All
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
AlwaysBreakTemplateDeclarations: "Yes"
InsertBraces: true

# Alignment / pointer style
AlignOperands: DontAlign
AlignTrailingComments: Never
PointerAlignment: Left

# Spacing quirks
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true
SpaceInEmptyBlock: true

# Includes
SortIncludes: Never

# Line length / line endings / penalties
ColumnLimit: 100
PenaltyBreakAssignment: 1000
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakTemplateDeclaration: 1000
PenaltyReturnTypeOnItsOwnLine: 1000000
...
