[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "nlohmann_json"]
	path = external/nlohmann_json
	url = https://github.com/nlohmann/json.git
