# OS Junk
.DS_Store

# Output files
output/*
*.txt
*.dat

# Config folder
# config_folder

# Input files
input/*

# Build files
build/
*.o

# Other qt files
*.user*
*.autosave

# Files not of importance
dim_sketch.py
test_env

# Smaug files
*.slurm
*.ids.json
job*.sh

# Plot figures
*.png

# Jacks data
jacks_data

# HPC stuff
GluonicLQCD.hpcstruct
hpctoolkit-GluonicLQCD-database/
hpctoolkit-GluonicLQCD-measurements/
workspace/
