# OS Junk
.DS_Store

# Output files
output/*
*.txt
*.dat

# Config folder
# config_folder

# Config files
config_folder/beta6_0test_config.py

# Input files
input/*

# Build files
build/
*.o

# Other qt files
*.user*
*.autosave

# Files not of importance
dim_sketch.py
test_env

# Smaug files
*.slurm
*.ids.json
job*.sh

# Plot figures
*.png

# Jacks data
jacks_data

# HPC profiler related stuff
hpctoolkit*
GluonicLQCD.hpcstruct
workspace

# Python junk
*.pyc

!analysis/statistics/tests/plaq.dat