# OS Junk
.DS_Store

# Output files
output/*
*.txt
*.dat

# Input files
input/*

# Build files
build/
*.o

# Other qt files
*.user*
*.autosave

# Files not of importance
dim_sketch.py
test_env

# Smaug files
*.slurm